<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>资讯类查询</title>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
      $(function(){
        var selectValue = $("#select_id").val(); // 获取Select选择的Value
        var selectText = $("#select_id").find("option:selected").text(); // 获取Select选择的文本
        $("#go_text").val(selectText);
        $("#cate_sum").val({{count}});

        $("#go").click(function(){
          return
        });
        $("#select_id").change(function () {
          var selectValue = $("#select_id").val(); // 获取Select选择的Value ———>name_count
          var selectText = $("#select_id").find("option:selected").text(); // 获取Select选择的文本-->name
          $("#go_text").val(selectText);
          $("#cate_sum").val(selectValue);

          $.ajax({
            url:'/cate_data',
            type:'POST',
            dataType:'json',
            //发送的数据
            data:{
              'cate':selectText
            }
          })
          .done(function(data){
            $("#table_show1 tr").remove()
            var dict_all = data.cate_datas;
            for(var a in dict_all)
            {
              append_tags = '<tr>\n<td>'+a+'</td>\n<td>'+dict_all[a]+'</td></tr>'
              $("#table_show1").append(append_tags)
            }
            if(selectText == "全部")
            {
              var total_num = $("#total_num").html();
              $("#cate_sum").val(total_num);
            }
          })
          .fail(function(data){
            console.log('false connection');
          })

        });
      })
    </script>
  </head>
  <body>
    <div style="margin: 5% 10%" class="center-block">
      <h2>资讯类别个人详情</h2>

      <h4>数据库总数为:<mark id="total_num">{{ count }}</mark></h4>

      <!-- 下拉列表 -->
      <h3>查询列表</h3>
      <select class="form-control" name=cate_id id="select_id">
        <option name="all" value="全部">全部</option>
        {% for name, name_count in result.items() %}
          <option name="{{ name }}" value="{{ name_count }}">{{ name }}</option>
        {% endfor %}
      </select>

      <h3>下拉菜单结果显示</h3>

      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" id="go_text" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="go">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div class="input-group" style="width:200px;">
        <span class="input-group-addon">SUM</span>
        <input type="text" class="form-control" id="cate_sum" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">条</span>
      </div>

      <h3>查询结果</h3>
      <!-- 查询结果 -->
      <div>
        <table class="table table-bordered" id="table_show1">
          {% for key, value in result.items() %}
            <tr id="dict_all_show">
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
